<!--Contenedor de 5 px arriba-->
<div class="container mt-5">
  <div class="row">
    <!--    columna de 8 y offset para dejar 2 columnas vacias en la izquierda-->
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO PRODUCTO</span>
          <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
<!--          margin top 5-->
          <table class="table table-striped mt-5">
            <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Coca cola</td>
              <td>Bebida</td>
              <td>Mexico</td>
              <td>25.00</td>
              <td>
                <i class="fas fa-edit text-primary"></i>
                <i class="fas fa-trash text-danger"></i>
              </td>
            </tr>
            <tr>
              <td>Ciel</td>
              <td>Bebida</td>
              <td>Mexico</td>
              <td>12.00</td>
              <td>
                <i class="fas fa-edit text-primary"></i>
                <i class="fas fa-trash text-danger"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
